<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dan.infshelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round2"
        android:label="INFSHelper"
        android:roundIcon="@mipmap/ic_launcher_round2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="INFSHelper"
            android:parentActivityName=".LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DetailActivity"
            android:label="Topic Detail"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:label="Profession"
                android:value="com.example.dan.infshelper.MainActivity" />
        </activity>
        <activity android:name=".QuizActivity"
            android:label="@string/quiz_name"></activity>
    </application>

</manifest>